<div class="login-container">
    <h1>Connexion</h1>
    <form>
      <input type="text" placeholder="Titre">
      <input type="text" placeholder="Description">
      <div class="form-group">
        <select id="option" name="option" [(ngModel)]="selectedOption">
          <option value="">Sélectionnez une option</option>
          <option *ngFor="let option of availableOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <button type="submit">Se connecter</button>
    </form>
</div>
  