<div *ngIf="notif" class="login-container">
  <div  class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Félicitations !</strong> Votre évenement a été crée.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
<div class="login-container">
    <h1>Créer un évènement</h1>
    <div>
      <input type="text" placeholder="Titre" [value]="event.titre">
      <input type="text" placeholder="Description" [value]="event.description">
      <div class="form-group">
        <select id="option" name="option" [(ngModel)]="selectedOption">
          <option value="">Sélectionnez un centre d'interet</option>
          <option *ngFor="let option of availableOptions" [value]="option">{{ option.libelle }}</option>
        </select>
      </div>

      <div class="custom-file">
        <input type="file" class="custom-file-input" id="imageInput" (change)="onFileSelected($event)">
        <label class="custom-file-label" for="imageInput">Choisir une image</label>
      </div>
      <button (click)="saveEvent()">Save</button>

    </div>
</div>

