<div class="form-container">
    <h4>Selectionnez vos interets</h4>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="option">Interet :</label>
        <select id="option" name="option" [(ngModel)]="selectedOption" >
          <option value="">Sélectionnez une option</option>
          <option *ngFor="let option of availableOptions" [value]="option.id">{{ option.libelle }}</option>
        </select>
      </div>
      <button class="add-interet" type="submit" [disabled]="!selectedOption">Ajouter</button>
    </form>
  
    <div class="selected-options">
      <h4>Liste des intérets sélectionnés :</h4>
      <ul>
        <li *ngFor="let option of selectedOptions; let index = index">
          {{ option?.libelle }}
          <button class="delete-interet" (click)="removeOption(index)">Supprimer</button>
        </li>
      </ul>
    </div>

    <button class="save-all" (click)="saveInteret()">Envoyer</button>
  </div>
  